<nz-layout>
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
      <img  class="logo" src="./assets/Star_Wars_logo-1.png">
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-submenu nzTitle="Star Wars" nzIcon="user">
        <ul>
          <li nz-menu-item [routerLink]="['people']">
            <i nz-icon nzType="user"></i>
            <span>Characters</span>
          </li>
          <li nz-menu-item [routerLink]="['planets']">
            <i nz-icon nzType="global"></i>
            <span>Planets</span>
          </li>
          <li nz-menu-item [routerLink]="['films']">
            <i nz-icon nzType="play-square"></i>
            <span>Films</span>
          </li>
          <li nz-menu-item [routerLink]="['species']">
            <i nz-icon nzType="robot"></i>
            <span>Species</span>
          </li>
          <li nz-menu-item [routerLink]="['vehicles']">
            <i nz-icon nzType="car"></i>
            <span>Vehicles</span>
          </li>
          <li nz-menu-item [routerLink]="['starships']">
            <i nz-icon nzType="rocket"></i>
            <span>Starships</span>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <i
        class="trigger"
        nz-icon
        [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
        (click)="isCollapsed = !isCollapsed"
      ></i>
    </nz-header>
    <nz-content>
      <nz-breadcrumb>
        <nz-breadcrumb-item>Data</nz-breadcrumb-item>
      </nz-breadcrumb>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <nz-footer>Ant Design © Made with ♥️</nz-footer>
  </nz-layout>
</nz-layout>
